github "soffes/Crypto" 
github "yannickl/QRCodeReader.swift" 
github "aschuch/QRCode"
github "hackiftekhar/IQKeyboardManager"
github "malcommac/SwiftDate"
github "marmelroy/Localize-Swift"
github "SwiftyJSON/SwiftyJSON"